@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


a{
    text-decoration: none;
    color: inherit;
}

.menu_btn{
    display: none;
    cursor: pointer;
    font-size: 24px;
}


header{
    background-color: #252525;
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    padding: 10px 2rem;
    width: 100vw;
    align-items: center;
    -webkit-box-shadow: 1px 29px 24px -11px rgb(220, 220, 225);
-moz-box-shadow: 1px 29px 24px -11px rgb(220, 220, 225);
box-shadow: 1px 29px 24px -11px rgb(220, 220, 225);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 90%;
    
}
.logo h1{
    letter-spacing: 3px;
    cursor: pointer;
    background: linear-gradient(to top, red 50%, #252525 50%);
    background-size: 100% 200%;
    background-position: top;
    padding: 0 10px;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
    background-clip: text;
}

.logo h1:hover{
    background-position: bottom;
    color: transparent;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
    
    
}

.nav_links{
    display: flex;
    gap: 20px;
    border: 2px solid red;
    justify-content: space-around;
    width: 75%;
    flex-wrap: wrap;
}

.nav_link{
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
}

.nav_link:hover{
    background-color: #a90000;
}

.mobile_nav{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.5s ease;
    pointer-events: none;
}

.mobile_nav.open{
    max-height: 1000px; /* wystarczająco duże by pomieścić menu */
    opacity: 1;
    pointer-events: auto;
}

.mobile_nav_links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
    background-color: #252525;
    padding: 10px 0;
}

.mobile_nav_link{
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.mobile_nav_link:hover{
    background-color: #a90000;
    transition: 0.3s ease;
}

@media screen and (max-width: 1150px){
    .nav_links{
        display: none;
    }
    .menu_btn{
        display: block;
        color: #fff;
        font-size: 2rem;
    }
  

}