@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

ul{
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    background-color: black;
}

li{
    display: inline-block;
    margin: 0 15px;
}